.legal-body .heading_1 {
  font-size: 1.25em;
  margin: 2em 0;
}

.legal-body .heading_2 {
  font-size: 1.1em;
  margin: 1em 0;
}

.legal-body ul {
  list-style: square;
  margin-left: 2em;
  margin-top: 1em;
}

.legal-body .body_text {
  margin-bottom: 1em;
}

.legal-body .title {
  text-align: center;
  font-size: 1.25em;
}

.legal-body .subtitle {
  text-align: center;
  font-size: 1.1em;
}
